# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
# docs/ -- not sure why I had it but had to remove for docusaurus actions to see the docs foldder

# Dotenv file
.env

# .vscode
.vscode/
#.github/ -- Need this for actions of deploying the docs

#keystore password for account nzesi-dev
.keystore-password

#Others
.gas-snapshot

# Test coverage
test-coverage.txt